body {
    margin: 0;
}
h2 {
    padding: 0 0 0 20px;
    color: white;
}
h3 {
    margin-left: 30px;
}
.entete-page2 {
    display: flex;
    align-items: center;
    background-color: dodgerblue;
    height: 60px;
    margin-bottom: 5px;
}
.déconnection {
    margin-left: 1200px;
    text-decoration: none;
    color: white;
    font-size: 20px;

}
.center-page2 {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
/* Récapitulatif */
.center {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin: 25px auto;
    padding: 20px;
    text-align: center;
    border: 1px grey solid;
    border-radius: 10px;
    box-shadow: 2px;
}
.container {
    width: 80%;
    margin: auto;
    border: 1px grey solid;
    border-radius: 10px;
    box-shadow: 2px;
    padding: 20px;
}
.annees {
    font-weight: bold;
    padding: 10px;
}
.mois {
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    padding: 20px;
    margin: 5px 10px;
}
footer {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 30px auto;
}

.red {
    background-color: crimson;
}
.green {
    background-color: lawngreen;
}
.footer {
    width: 30%;
    height: 50px;
    text-align: center;
    padding-top: 40px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: 30px;
}
