h4 {
    font-weight: bold;
    margin-bottom: 20px;
}
input {
    margin-bottom: 10px;
}
.center {
    width: 20%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border: 1px grey solid;
    border-radius: 10px;
    box-shadow: 2px;
}
.submit {
    width: 180px;
    height: 30px;
    color: white;
    border-radius: 2px;
    background: blue;
}
.erreur {
    background: red;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    width: 30%;
    height: 30px;
    margin: auto;
    border-radius: 0 0 10px 10px;
}
